@page
@model MyPageModel
@{
    ViewData["Title"] = "My Page";
}
<h1>@ViewData["Title"]</h1>

<pre><code>
id: @Model.BtcAud.id
baseCurrency: @Model.BtcAud.baseCurrency
counterCurrency: @Model.BtcAud.counterCurrency
reference: @Model.BtcAud.reference
bid: @Model.BtcAud.bid
ask: @Model.BtcAud.ask
timestamp: @Model.BtcAud.timestamp
delta1d: @Model.BtcAud.delta1d
delta7d: @Model.BtcAud.delta7d
</code></pre>
