@page "{id}"
@model Buckets.DetailsModel
@{
    ViewData["Title"] = "Bucket";
}
<h1>@ViewData["Title"]</h1>

DetailsModel

<ul>
    <li>Id: @Model.Object.Id</li>
    <li>Bucket: @Model.Object.Bucket</li>
    <li>Name: @Model.Object.Name</li>
    <li>Size: @Model.Object.Size</li>
    <li>ContentType: @Model.Object.ContentType</li>
    <li>TimeCreated: @Model.Object.TimeCreated</li>
    <li>Md5Hash: @Model.Object.Md5Hash</li>
</ul>
